<header>

<ul class="nav justify-content-center">
  <li>
    <a class="nav-link" href="/">Home</a>
  </li>
    {{#unless logged_in}}
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
  </li>
    {{/unless}}
    {{#if logged_in}}
  <li class="nav-item">
    <a class="nav-link" href="/profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" id='header-logout'>Logout</a>
  </li>
    {{/if}}
</ul>