<header>

<div class="header-container">
  <div class="header-name">inStinkT</div>
  <div class="nav-container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
        {{#unless logged_in}}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/product/page=1">Products</a>
      </li>
        {{/unless}}
        {{#if logged_in}}
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/favorites">Favorites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id='header-logout'>Logout</a>
      </li>
        {{/if}}
    </ul>
  </div>
</div>