<div>
  <h2 class="questions">
    Which do you prefer?
  </h2>
  <div class="choices">
    <img
      src="https://www.carrementbelle.com/blog/wp-content/uploads/2020/08/sandalwood.jpg"
      alt="amberwood"
    />
    <img
      src="https://www.byrdie.com/thmb/yc29t-bItBMOpWBd7ysBDaI6Egc=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/best-citrus-perfumes-b441396ed05e43b59da2d007a67569e7.jpg"
      alt="citrus"
    />
    <img
      src="https://d384u2mq2suvbq.cloudfront.net/public/spree/products/2518/product_webp/santal-coconut-fragrance-oil-web.webp?1654514131"
      alt="coconut"
    />
    <img
      src="https://static01.nyt.com/images/2021/10/04/t-magazine/04tmag-doan-slide-8ILB/04tmag-doan-slide-8ILB-jumbo.jpg?quality=75&auto=webp"
      alt="floral"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/2971/2126/products/EgyptianCotton.jpg?v=1657490773&width=493"
      alt="fresh"
    />
    <img
      src="https://st.depositphotos.com/1816203/2159/i/950/depositphotos_21592543-stock-photo-sliced-fruits-background.jpg"
      alt="fruity"
    />
    <img
      src="https://www.brambleberry.com/dw/image/v2/BCPL_PRD/on/demandware.static/-/Sites-brambleberry-master-catalog/default/dw634c82be/images/large/ingredients/fragrance-oils/main/PureHoneyFO_FO279_Main.jpg?sw=1000&sh=1000&sm=fit"
      alt="honey"
    />
    <img
      src="https://www.bhg.com/thmb/wocHQGjQC32g5MQ6HelU2hupLRs=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/lavender-field-258ced8a-478f5f859456410f84e04c8983e86baa.jpg"
      alt="lavender"
    />
    <img
      src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_471141162_401779.jpg"
      alt="lemon"
    />
    <img
      src="https://cdn11.bigcommerce.com/s-bh7d5jhpn7/images/stencil/2048x2048/products/1772/2037/gmlgg__18379.1553193077.gif?c=2"
      alt="lemon"
    />
    <img
      src="https://fragrances.bg/image/data/Not%20Product/spices-cinnamon-vanilla-star-anise-cloves-cardamom.jpg"
      alt="oriental"
    />
    <img
      src="https://www.wholesalesuppliesplus.com/Images/Products/Thumbs/9304-Market-Peach_t.jpg"
      alt="peach"
    />
    <img
      src="https://cdn11.bigcommerce.com/s-bh7d5jhpn7/images/stencil/2048x2048/products/1783/3514/pineapplefragranceoil865__35233.1667493134.png?c=2"
      alt="pineapple"
    />
    <img
      src="https://uploads-ssl.webflow.com/62ad9f0642bdf84084d9e79e/62b84371e640095d663a6b32_featuredImage-p-1080.jpeg"
      alt="rose"
    />
    <img
      src="https://blogstudio.s3.theshoppad.net/harlem-candle-company/35adb3b9d9b1793436e254be8c7d7cd5.jpg"
      alt="sandalwood"
    />
    <img src="https://www.scentbird.com/blog/wp-content/uploads/2015/11/Thanksgiving-spicy-perfumes1.jpg" alt="spicy" />
    <img src="https://cdn11.bigcommerce.com/s-bh7d5jhpn7/images/stencil/640w/products/1288/3124/madagascarvanillafragranceoil8__59609.1620795152.png?c=2" alt="vanilla">
  </div>
</div>