
<img class="hero" src="https://www.makeup.com/-/media/project/loreal/brand-sites/mdc/americas/us/articles/2019/09_september/12-fragrance-last-longer/how-to-make-your-fragrance-last-longer-hero-mudc-091219.jpg?w=705&h=529&blr=False&hash=099D07FCCAD03BB008E679D71DED3EAE" />

<div class="logo">

  <h1>Scent Finder</h1>

  <p>Take quiz now</p>

{{> quiz}}

  <button type="submit" class="start-quiz">Start</button>
</div>
