<h1>
  Logged in: {{logged_in}} 
</h1>
<section class='test-section my-5'>
  <form class='registration-form' id='registration-form'>
    <div class='row mx-auto justify-content-center'>
      <div class='form-group col-sm-3'>
        <label for="firstNameInput">First Name</label>
        <input class='form-control' id='firstNameInput' placeholder='First' required='true'>
      </div>
      <div class='form-group col-sm-3'>
        <label for="lastNameInput">Last Name</label>
        <input class='form-control' id='lastNameInput' placeholder='Last' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center'>
      <div class='form-group col-sm-6'>
        <label for="emailInput">Email</label>
        <input class='form-control' id='emailInput' placeholder='Email Address' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center'>
      <div class='form-group col-sm-6'>
        <label for="passwordInput">Password</label>
        <input type='password' class='form-control' id='passwordInput' placeholder='Password' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center'>
      <div class='form-group col-sm-6'>
        <label for='passwordConfirmInput'>Confirm Password</label>
        <input type='password' class='form-control' id='passwordConfirmInput' placeholder='Confirm Password' required='true'>
      </div>
    </div>
    <div class='row mx-auto justify-content-center my-4'>
      <div class='form-group col-sm-6'>
        <button type="submit" class='btn btn-primary form-control'>Register</button>
      </div>
    </div>
  </form>
</section>
<script src="./js/register.js"></script>